/*Variables*/
:root{
    --nav-color: #2c3e50;
    --jumbo-color: #1abc9c;
    --footer-top-color: #3a546d;
    --footer-bottom-color: #2c3e50;
}
.my_navbar{
    background-color: var(--nav-color);
}
.my_jumbo{
    background-color: var(--jumbo-color);
}
/*HEADER*/
.my_logo-header,
.my_menu_header{
    /*DEBUG*/
    min-height: 50px;
}
.my_logo-header{
    background-color: lightcoral;
}
.my_menu_header{
    background-color: orange;
}
/*JUMBOTRON*/
