/*Variables*/
:root{
    --nav-color: #2c3e50;
    --jumbo-color: #1abc9c;
    --footer-top-color: #3a546d;
    --footer-bottom-color: #2c3e50;
}
.my_navbar{
    background-color: var(--nav-color);
    color: white;
}
.my_jumbo{
    background-color: var(--jumbo-color);
    color: white;
}
/*RESET*/
a{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}
/*MY BTNS*/
.my_btn-primary{
    background-color: var(--jumbo-color);
    color: white;
}
.my_btn-primary:hover{
    background-color: #00ffcc;
}
/*MARGIN*/
.margin-top10{
    margin-top: 10px;
}
.margin-bottom20{
    margin-bottom: 20px;
}
/*HEADER*/
.my_logo-header,
.my_menu_header{
    /*DEBUG*/
    min-height: 50px;
}
.my_logo-header{
    background-color: lightcoral;
}
.my_menu_header{
    background-color: orange;
}
/*JUMBOTRON*/
.my_jumbo-image,
.my_jumbo-paragraph{
    text-align: center;
}
.my_jumbo-image img{
    max-width: 300px;
}
/*MAIN*/
/*PORTFOLIO*/
.my_col{
    min-height: 100px;
}
.my_col img{
    border-radius: 10px;
}
/*ABOUT US*/
.my_about-us{
    background-color: var(--jumbo-color);
    color: white;
    text-align: center;
}
/*FOOTER*/
.my_top-footer{
    background-color: var(--footer-top-color);
}
.my_bottom-footer{
    background-color: var(--footer-bottom-color);
}